
$color-primary:#02735E;
$color-primary-light:#025951;
$color-primary-dark:#034159;
$color-grey-dark:#777;
$color-white:#ffffff;
$color-black:black;
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;
$color-grey-light-1:#0341592f;
$color-primary-1:#038C3E;
$color-primary-light-1:#0c9146b2;
$default-font-size:1.6rem;

$color-primary-dark: #6db69e;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;